.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(245, 245, 245);
  width: 100%;
  border-top: 1px solid black;
}

.comment .left-margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2px;
  margin: 10px;
}

.comment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.comment-header {
  opacity: 0.5;
  margin: 5px 0 0 5px;
  font-size: 0.8em;
}

.comment-header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.comment-header a:hover {
  opacity: 0.75;
}

.comment-body {
  height: 80%;
  margin: 0 5px;
}

.vote-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.vote-btn:hover {
  opacity: 0.5;
}

.up-arrow-img {
  width: 15px;
}

.down-arrow-img {
  width: 15px;
  margin-top: 2px;
}

@media (max-width: 750px) {
}
