.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
  margin-top: 125px;
}

.feed {
  margin-top: 75px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-post-btn {
  border: none;
  background: #00e354;

  width: 75%;
  padding: 5px;
}

.add-post-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.post-form {
  display: none; /*flex*/
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #00e35346;
  padding: 20px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.post-form .content {
  height: 50%;
}
