.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-top: 75px;
  gap: 5px;
}

.spacer {
  margin-top: 75px;
}

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  width: 25%;
  margin-top: 125px;
  position: fixed;
  right: 0;
}

.feed {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.add-post-btn {
  border: none;
  background: #00e354;
  width: 75%;
  padding: 5px;
}

.add-post-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #00e353d3;
  padding: 20px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.post-form .content {
  height: 50%;
}

.close-form {
  border-radius: 100%;
  position: absolute;
  top: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.close-form:hover {
  opacity: 0.5;
}

.file-uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  font-size: 0.75em;
}

@media (max-width: 750px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .right-column {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0;
    width: 100%;
  }

  .feed {
    width: 100%;
  }

  .post-form {
    width: 75%;
  }
}
