.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 1;
}

.group-list {
  height: 20px;
  display: flex;
  padding: 2px;
  align-items: center;
}

.groups {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.groups > * {
  padding-left: 5px;
  text-decoration: none;
  color: black;
  font-size: 0.5em;
}

.groups > *:hover {
  opacity: 0.5;
}

.my-groups {
  font-size: 0.6em;
  white-space: nowrap;
}

.my-groups:hover {
  opacity: 1;
}

.more-groups {
  font-weight: bold;
  font-size: 0.5em;
  align-self: center;
  padding-left: 5px;
}

.header-main {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  background: white;
}

.header .logo {
  width: 50px;
  margin-left: 20px;
}

.page-title {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #00e354;
  text-decoration: none;
}

.buttons {
  display: flex;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
  color: black;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.login-btn {
  background: #00e3536c;
}

.log-out-btn {
  background: #00e3536c;
  width: 75px;
}

.sign-up-btn {
  background: #00e353;
}

.user-name {
  font-size: 0.75em;
  opacity: 0.5;
  align-self: center;
  text-decoration: none;
}

@media (max-width: 450px) {
  .btn {
    width: 75px;
  }
}
