.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  align-self: center;
  justify-content: center;
  margin-top: 75px;
  padding: 10px;
}

.user-page {
  width: 75%;
}

.user-page .feed {
  width: 100%;
}

.image-placeholder {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.user .user-name {
  font-weight: bold;
  opacity: 1;
}

.add-post {
  display: flex;
  width: 100%;
  gap: 5px;
}

.text-post-btn {
  border: none;
  background: #00e354;
  width: 50%;
  padding: 5px;
  color: white;
}

.photo-post-btn {
  border: none;
  background: #00e354;
  width: 50%;
  padding: 5px;
}

.user-container img {
  width: 50%;
  margin-top: 75px;
}

@media (max-width: 750px) {
  .user-page {
    width: 100%;
  }

  .user-container img {
    width: 100%;
  }
}
